<div class="about_section">
    <div class="flx">
        <map class="gltf_wrapper">

        </map>
        <div class="about_content">
            <h2 class="secondary_heading">ABOUT ME/</h2>
            <p class="about_p">
                Hi! My name is Mariano Piriz, I´m an electronic technician holding +20 years of work experience in the
                IT sector.
                During my extensive career, I had the chance to work in different fields within the IT sector, spanning
                from infrastructure installations to providing technical support. I have eagerly embraced opportunities
                to expand my skill set and deepen my expertise, continually seeking new challenges. This proactive
                approach has enabled me to warrant the privilege of working for well-known companies like Hewlett
                Packard, Samsung Electronics, and Cognizant, earning invaluable experience that enriched my professional
                journey and expanded my horizons. <br> <br>

                While employed at Cognizant, where we served Google´s customers as SEM Analysts, I began to point my
                attention toward programming languages. As part of my job was analyzing customers´ websites seeking
                opportunities for enhancement, I rapidly started to get familiarized with web design trends and UX UI
                best practices. <br>
                A few years later, during the global pandemic, I started to study web development at the UTN ( National
                Technological University) to learn the basics of web programming. In addition to formal education and
                training, I have also dedicated countless hours to self-study, consuming tons of related videos on
                YouTube from respected channels such as freeCodeCamp.org, Web Dev Simplified, Kevin Powell, Bro Cod, and
                The Coding Train among others. <br><br>


                Since then I have remained committed to continuously studying new things related to programming and web
                design, new frameworks, new libraries, and new design skills aiming for professional growth.
                Furthermore, I recently completed courses in Advanced JavaScript Developer at Educación IT and Full
                Stack Developer at Fundasoft, where I gained experience as a trainee developer contributing to and
                assisting senior developers in collaborative projects. <br><br>

                This immersive learning experience provided me with comprehensive knowledge about collaborative
                development environments, code sharing, version control using tools like GIT Integration, and setting up
                frontend and backend infrastructure using Amazon Web Services (AWS), as well I have also cultivated a
                keen understanding of the importance of collaboration and effective communication in driving successful
                outcomes, all under the guidance of seasoned professionals. <br><br>

                As I reflect on my journey so far, I have acquired a broad knowledge and expertise within the IT sector.
                Now I´m embarked on seeking new challenges to broaden my horizons, explore fresh opportunities, and
                stand prepared to share this valuable experience.

            </p>
        </div>
    </div>

</div>