<div class="academic_section">
    <div class="container">
        <h2 class="secondary_heading">ACADEMICS/</h2>
        <div class="flx flx_items">
            <article class="flx_item">
                <h3 class="sub_heading">2023 FULL STACK WEB DEVELOPER @FUNDASOFT</h3>
                <p>NODE JS - EXPRESS - API REST - SUPABASE -
                    AWS - MYSQL</p>
                <a href="">show certificates</a>
            </article>
            <article class="flx_item">
                <h3 class="sub_heading">2023 JS ADVANCED DEVELOPER
                    @EDUCACIÓN IT </h3>
                <p>BOM DOM - EVENTS -
                    REGULAR EXPRESSIONS - METHODS - AJAX
                    API REST - SPA API WEB LOCATION -
                    API WEB HISTORY -
                    PIPELINE FUNCTIONS - PROMISES &
                    CALLBACKS - REACTIVE PROGRAMMING -
                    API WEB STORAGE - THIS - CLASSES -
                    CONSTRUCTORS - NODE JS -
                    FRAMEWORKS - WEBPACK - EXPRESS - VITE</p>
                <a href="">show certificates</a>
            </article>
            <article class="flx_item">
                <h3 class="sub_heading">2023 UX/UI FUNDAMENTALS
                    @COURSERA</h3>
                <p>BASICS OF USER EXPERIENCE DESIGN -
                    PRODUCT DEVELOPMENT LIFE CYCLE -
                    UX DESIGN PROCCESS -
                    EMPATHIZE DEFINE IDEATE -
                    USER CENTERED DESIGN - DESIGN THINKING -
                    DESIGN SPRINTS - UX RESEARCH - BIASES -
                    DESIGN IDEATION</p>
                <a href="">show certificates</a>
            </article>
            <article class="flx_item">
                <h3 class="sub_heading">2020 PROFESSIONAL WEBMASTER
                    @UTN.BA</h3>
                <p>HTML - CSS - JS - PHP MYSQL - AJAX - NODE JS -
                    RESPONSIVE DESIGN - BOOTSTRAP - ANGULAR -
                    BUILDING A SITE FROM SCRATCH </p>
                <a href="">show certificates</a>
            </article>
            <article class="flx_item">
                <h3 class="sub_heading">2020 LINUX SYSTEM ADMINISTRATOR
                    @EDUCACIÓN IT</h3>
                <p>LINUX SHELL SCRIPTING - MY SQL -
                    LINUX HOSTING ADMINISTRATOR -
                    LINUX SECURITY SERVER HACKING -
                    LINUX NETWORKING </p>
                <a href="">show certificates</a>
            </article>
            <article class="flx_item">
                <h3 class="sub_heading">1997 ELECTRONIC TECHNICIAN
                    @ENET N19 A VOLTA</h3>
                <p>ELECTRONICS FUNDAMENTALS -
                    ANALOG AND DIGITAL ELECTRONICS -
                    ELECTRONIC DEVICES AND COMPONENTS -
                    CIRCUIT DESIGN AND ANALYSIS -
                    MICROCONTROLLERS AND EMBEDDED SYSTEMS -
                    COMMUNICATION SYSTEMS -
                    POWER ELECTRONICS -
                    INSTRUMENTATION AND MEASUREMENT -
                    ELECTROMAGNETIC COMPATIBILITY -
                    SAFETY AND REGULATIONS -
                    COMPUTER-AIDED DESIGN -
                    PRINTED CIRCUIT BOARD -
                    PROBLEM-SOLVING SKILLS</p>
                <a href="">show certificates</a>
            </article>
            <article class="flx_item">
                <h3 class="sub_heading">ADDITIONAL COURSES AND
                    WORKSHOPS
                </h3>
                <p>2024 BRAND IDENTITY @DOMESTIKA <br>
                    2023 VISUAL IDENTITY DESIGN @DOMESTIKA <br>
                    2021 CREATIVE CODING @DOMESTIKA <br>
                    2020 TYPOGRAPHY ANIMATION @DOMESTIKA <br>
                    2020 SMALL BUSINESS MANAGEMENT
                    @CAPACITARTE UBA <br>
                    2020 PUBLIC RELATIONS @CAPACITARTE UBA <br>
                    2017 LEADERSHIP PROGRAM @CAPACITARTE UBA</p>
            </article>


        </div>
        <div class="skill_section">
            <h3 class="sub_heading">SKILLS</h3>
            <div class="flx_column">
                <div class="flx_item">
                    <h3 class="skill_name">JAVASCRIPT</h3>
                    <div class="level_bg">
                        <div class="js level_bar"></div>
                    </div>
                </div>
                <div class="flx_item">
                    <h3 class="skill_name">HTML</h3>
                    <div class="level_bg">
                        <div class=" html5 level_bar"></div>
                    </div>
                </div>
                <div class="flx_item">
                    <h3 class="skill_name">CSS</h3>
                    <div class="level_bg">
                        <div class="css level_bar"></div>
                    </div>
                </div>
                <div class="flx_item">
                    <h3 class="skill_name">NODE JS</h3>
                    <div class="level_bg">
                        <div class="node level_bar"></div>
                    </div>
                </div>
                <div class="flx_item">
                    <h3 class="skill_name">THREE JS</h3>
                    <div class="level_bg">
                        <div class="three level_bar"></div>
                    </div>
                </div>
                <div class="flx_item">
                    <h3 class="skill_name">UX UI</h3>
                    <div class="level_bg">
                        <div class="ux_ui level_bar"></div>
                    </div>
                </div>
                <div class="flx_item">
                    <h3 class="skill_name">AWS</h3>
                    <div class="level_bg">
                        <div class="aws level_bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>