<div class="contact_section">
    <div class="container contact_content">
        <hgroup>

            <h2 class="secondary_heading">CONTACT ME/</h2>
            <p class="callToAction">I'M OPEN TO TEAM UP WITH AMBITIOUS PEOPLE</p>
        </hgroup>
        <div class="contact_items">
            <h3 class="contact_item"><a href="https://twitter.com/mpa_dev" target="_blank">@X</a></h3>
            <h3 class="contact_item"><a
                    href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=mariano.piriz.acevedo@gmail.com"
                    target="_blank">@EMAIL</a></h3>
            <h3 class="contact_item"><a href="https://www.linkedin.com/in/marianopiriz/">@LINKEDIN</a></h3>
            <h3 class="contact_item"><a href="https://t.me/mpa_webdev" target="_blank">@TELEGRAM</a></h3>
            <h3 class="contact_item"><a href="https://www.instagram.com/marianopirizacevedo/"
                    target="_blank">@INSTAGRAM</a></h3>
        </div>

        <footer>


            <div class="footer_copy">
                <p>ALL RIGHTS RESERVED</p>
                <p>&copy;2024</p>
            </div>


        </footer>

    </div>

</div>