<div class="freelance_section">
    <div class="container">
        <h2 class="secondary_heading">FREELANCE <br> PROJECTS/</h2>
        <p class="section_description">HERE, YOU'LL FIND SOME OF MY RECENT FREELANCE WORK, SHOWCASING MY SKILLS IN WEB
            DESIGN AS WELL AS DEVELOPER.

        </p>
        <div class="flx flx_items">
            <article>
                <a href="https://marianopiriz.github.io/maic-testing/">

                    <h3 class="sub_heading">@2024 MARINE ASSURANCE INTERNATIONAL CENTRE </h3>
                    <svg width="20" height="20" viewBox="0 0 20 20">
                        <path
                            d="M10.8101 1.96222L0.726954 12.0453L1.66171 12.9801L11.7448 2.89698L11.9344 9.4447L13.208 9.07311L13.0134 2.35278C12.9877 1.46249 12.2434 0.718185 11.3531 0.692412L4.80762 0.502924L4.43487 1.77539L10.8101 1.96222Z"
                            fill="white" stroke="#DEF71C" stroke-width="1"></path>
                    </svg>
                </a>
                <p>Work in progress. Web Design and Development. For this project, I worked with Node JS and Webpack as
                    bundeler and Three JS as well as gsap for 3D renders and animations. I used Adobe XD and Illustrator
                    for crafting the layout. <br>
                    You can explore the code on my repo at <a
                        href="https://github.com/MarianoPiriz/maic-testing">Github</a>
                </p>
            </article>
            <article>
                <a href="https://tonydeepdisco.netlify.app/">

                    <h3 class="sub_heading">@2021 ARTIST WEBSITE </h3>
                    <svg width="20" height="20" viewBox="0 0 20 20">
                        <path
                            d="M10.8101 1.96222L0.726954 12.0453L1.66171 12.9801L11.7448 2.89698L11.9344 9.4447L13.208 9.07311L13.0134 2.35278C12.9877 1.46249 12.2434 0.718185 11.3531 0.692412L4.80762 0.502924L4.43487 1.77539L10.8101 1.96222Z"
                            fill="white" stroke="#DEF71C" stroke-width="1"></path>
                    </svg>
                </a>
                <p>Web Design and Development. This was one of the first projects I worked on, it´s no longer available
                    but I think it´s
                    relevant to showcasing though. I used plain JS CSS HTML and PHP to create a login section where the
                    artist could
                    access to load his upcoming gigs. <br>
                    You can explore the code on my repo at <a
                        href="https://github.com/MarianoPiriz/DemoDJSite">Github</a>
                </p>

            </article>
        </div>

    </div>

</div>