<div class="work_section">
    <div class="container">
        <h2 class="secondary_heading">WORK <br> EXPERIENCE/</h2>
        <div class="flx groups">
            <div class="group item-1">
                <article>
                    <h3>2022-23 INFRASTRUCTURE ANALYST
                        @DEVESA AZUL NATURAL BEEF</h3>
                    <p>SYSTEM AND NETWORKING ADMINISTRATOR
                        GOOGLE WORKSPACE MANAGEMENT ADMIN
                        DOCUMENTATION AND REPORTING
                        MONITORING AND PERFORMANCE TUNING
                        STORAGE MANAGEMENT
                        INFRASTRUCTURE DESIGN AND PLANNING
                        INCIDENT RESPONSE AND PROBLEM
                        RESOLUTION
                    </p>
                </article>
                <article>
                    <h3>2022-23 TRAINEE WEB DEVELOPER
                        @FUNDASOFT</h3>
                    <p>TRAINEE / APPRENTICE POSITION
                        LEARNING AND SKILL DEVELOPMENT
                        CONTRIBUTIONS IN COLLABORATIVE PROJECTS
                        ASSISTING SENIOR DEVELOPERS
                        GITBASH / GITHUB</p>
                </article>
                <article>
                    <h3>2021-22 EVENT PRODUCER </h3>
                    <p>PLANNING ORGANIZING AND EXECUTING EVENTS
                        VENUE SELECTION AND LOGISTICS
                        EVENT PROMOTION AND MARKETING
                        VENDOR AND SUPPLIER MANAGEMENT</p>
                </article>
            </div>
            <div class="group item-2">
                <article>
                    <h3>2019-21 TECHNICIAN COORDINATOR
                        @REFORMA</h3>
                    <p>TEAM SUPERVISION
                        RESOURCE ALLOCATION
                        QUALITY ASSURANCE
                        SAFETY COMPLIANCE
                        CLIENT COMMUNICATIONS
                    </p>
                </article>
                <article>
                    <h3>2018-19 SEO SEM ANALYST
                        @GOOGLE COGNIZANT </h3>
                    <p>CAMPAIGN SETUP
                        KEYWORD RSEARCH
                        BID MANAGEMENT
                        AD COPYWRITING
                        AD EXTENSIONS
                        QUALITY SCORE OPTIMIZATION
                        PERFORMANCE ANALYSIS
                        A/B TESTING
                        COMPETITOR ANALYSIS</p>
                </article>
                <article>
                    <h3>2017-18 IT HELP DESK SPECIALIST
                        @SAMSUNG ELECTRONICS </h3>
                    <p>TECHNICAL ASSISTANCE
                        TROUBLESHOOTING AND PROBLEM SOLVING
                        SOFTWARE INSTALLATION AND CONFIGURATION
                        HARDWARE / SOFTWARE SUPPORT
                        USER ACCOUNT MANAGEMENT
                        IT DOCUMENTATION</p>
                </article>
            </div>
            <div class="group item-3">
                <article>
                    <h3>2014-16 BILINGUAL IT HELP DESK
                        SPECIALIST
                        @HEWLETT PACKARD ENTERPRISE</h3>
                    <p>REMOTE TECHNICAL ASSISTANCE
                        TROUBLESHOOTING AND PROBLEM SOLVING
                        REMOTE SOFTWARE INSTALLATION AND
                        CONFIGURATION
                        SOFTWARE SUPPORT
                        USER ACCOUNT MANAGEMENT</p>
                </article>
                <article>
                    <h3>2011-14 BILINGUAL IT HELP DESK
                        @ECNEX INTERNATIONAL </h3>
                    <p>REMOTE TECHNICAL ASSISTANCE
                        TROUBLESHOOTING AND PROBLEM SOLVING
                        NETWORK MONITORING
                        SOFTWARE SUPPORT</p>
                </article>
                <article>
                    <h3>2005-07 FIBER OPTICS NETWORK
                        TECHNICIAN AND NOC OPERATOR
                        @CABLEVISIÓN </h3>
                    <p>NETWORK MONITORING
                        ALERT HANDLING
                        INCIDENT MANAGEMENT
                        TROUBLESHOOTING
                        PERFORMANCE OPTIMIZATION
                        REPORTING AND DOCUMENTATION
                        F.O INSTALLATION
                        SPLICING AND TERMINATION
                        MAINTENANCE AND REPAIR
                        TESTING AND MEASUREMENTS</p>
                </article>
            </div>
            <div class="group item-4">
                <article>
                    <h3>2001-04 INSTALLATION TECHNICIAN
                        @HAWK GPS </h3>
                    <p>EQUIPMENT INSTALLATION AND TESTING
                        SENSOR WIRING INSTALLATION
                        CONFIGURATION EQUIPMENT AND SETUP
                        TESTING AND QUALITY ASSURANCE</p>
                </article>
                <article>
                    <h3>2001-04 INSTALLATION TECHNICIAN
                        @HAWK GPS </h3>
                    <p>EQUIPMENT INSTALLATION AND TESTING
                        SENSOR WIRING INSTALLATION
                        EQUIPMENT CONFIGURATION AND SETUP
                        TESTING AND QUALITY ASSURANCE</p>
                </article>
                <article>
                    <h3>1999-01 INSTALLATION TECHNICIAN
                        @ICS RED TELEFÓNICA TELECOM </h3>
                    <p>HIGH SPEED EQUIPMENT INSTALLATION
                        EQUIPMENT CONFIGURATION AND SETUP
                        ENERGY INSTALLATIONS
                        DATACENTER INSTALLATIONS
                        STRUCTURED CABLING
                        DOCUMENTATION</p>
                </article>

            </div>
            <div class="group flx-nowrap item-5">
                <div class="footer">
                    <h2>
                        <span>+</span><span class="num" data-value="20">00</span>
                    </h2>
                </div>
                <div class="footer">
                    <h3>YEARS OF WORK
                        EXPERIENCE WITHIN
                        THE IT SECTOR </h3>
                </div>
            </div>

        </div>
    </div>
</div>