/* navigation*/

.nav_wrapper{
    position:absolute;
    display: flex;
    justify-content: space-between;
    background-color:transparent;
    left: 0%;
    width: 100%;
    padding: 3%;
    z-index: 1;
}

.navBar{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-end; 
    position:fixed;
    top:-100%;
    left:0;
    height: 100vh;
    background-color: black;
    padding:3%;
    
}





.logo{
    width: 10rem;
    aspect-ratio: 1/1;
    pointer-events: none;

}

.logoBtn{
    position: fixed;
    z-index: 1;
}

.linkList{
    width:100%;
    padding-top: 10%;
}


.navLnk{
    font-size: clamp(3rem, 11vw + 1rem, 10rem);
    color: #adabab;
    line-height: 0.95 ;
    font-weight: 700;
    display: block;
    
}


.navLnk:hover{
    color:#DEF71C;
}


.navFooter{

    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
    .menuCopy{
        color:white;
        font-size: 4rem;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0.8;
    }
}

.navMenuLinks {
    display: flex;
    flex-direction: column;

    a {
        font-size: 1.5rem;
        color:white;
    }
    a:hover{
        color: #DEF71C;
    }

}


@media all and (max-height: 450px){
    .its_open{
        height: fit-content;
    }
}