.freelance_section{
    h2, h3 ,p{
        color:var(--dark-grey)
    }
    h3{
        text-decoration: underline;
    }

   a:hover{
        color: var(--accent)
    }
    
}


.section_description{
    font-size: var(--fs-xs);
}