
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: transparent;

}

html{
    font-size: 62.5%;
    height: -webkit-fill-available;
    scroll-snap-type: y proximity;   
}

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

:root{
    --fs-Desktop: clamp(12rem,8vw,30rem);
    --fs-NoteBook: 10.5rem;
    --fs-NoteBookSM: 9.5rem;
    --fs-xxll:clamp(5.5rem, 18vw , 20rem );
    --fs-xl:clamp(9rem, 12vw + 1rem , 14rem );
    --fs-xxl:clamp(4rem, 20vw, 13rem);
    --fs-lg:8rem;
    --fs-md:6rem;
    --fs-base: 5.5rem;
    --fs-sm:4rem;
    --fs-xs:2.2rem;
    --fs-xss:1.8rem;
    --fs-xxs:1.4rem;
    --fs-xxxs:1.2rem;
    --fibo: 1.618;
    --white: #FFFFFF;
    --black: #000000;
    --dark-grey: #1E1E1E;
    --flat-grey: #434343;
    --mid-grey: #565656;
    --light-grey: #9A9A9A;
    --extra-light-grey: #D0D0D0;
    --accent: #DEF71C;
}

section {
    scroll-snap-align: start;
    width: 100%;
    height: 100svh;
}

.secondary_heading{
    font-size: var(--fs-base);
}

.sub_heading{
    font-size: var(--fs-xs);
}


button {
    background-color: transparent;
    border-radius: 2.5rem;
    border: 1px solid white;
    font-size: var(--fs-xs);
}

button:hover{
    border: 1px solid #DEF71C;
    a{
        color:#DEF71C;
    }
}


::-webkit-scrollbar{
    display: none;

}

body::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.03;
    z-index: 1;
    pointer-events: none;
    background: url(./assets/noise.gif) ;
   
    flex-grow: 1;
  }


ul li a { display: inline-block}



h1, h2 , h3 , h4 , h5{
font-family: 'Arial', sans-serif;
display: inline-block;
line-height: 1;
filter: blur(0.06rem);
color: white;
}




.bold{
    font-weight: bold;
}

.hidden{
    display: none !important;
}




p,a{
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color: white;
filter: blur(0.05rem);
font-size: var(--fs-xxs)
}

.container{
    padding: 3%;  
}

.flx-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1%;
}
.flx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2%;
}

.flx-nowrap{
    display:flex;
    align-items: center;
 
}

.flx_column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    gap: 2%
}

/* main document*/

/* .scrollWrapper {

    #about, #education, #experience, #projects, #contact{
        margin-top: 3%;
        height: 100vh;
    }


    } */



/*SECTION ABOUT */
#about{
    background-color:var(--dark-grey);
}
/*SECTION  EDUCATION*/
#education{
    background-color: var(--flat-grey);
}
/*SECTION  EXPERIENCE*/
#experience{
    background-color: var(--mid-grey);
}
/*SECTION  PROJECTS*/
#projects{
    background-color: var(--light-grey);
}
/*SECTION  CONTACT*/
#contact{
    background-color: var(--extra-light-grey);
}

.notFound {
    padding: 10%;
    button{
        margin-top:5%;
        width: 20%;
        height: 4.5rem;
        border: 1px solid white;
        a {
            color: white;
        }
        h1, h2 {
            color: white;
            font-size: var(--fs-Desktop);
            }
    }
}






/***************************mediaquerys*************************************************/

@media all and (max-height:450px){
    .flx-reverse {
        flex-wrap: nowrap;
    }
}


@media all and (min-width: 600px){
    .secondary_heading{
        font-size: var(--fs-xl);
    }
    
}

@media all and (max-height:798px){
    .secondary_heading{
        font-size: var(--fs-lg);
    }
    .sub_heading{
        font-size: var(--fs-xxs);
    }
    article{
        h3{
            font-size: var(--fs-xxs);
        }
        p{
            font-size: var(--fs-xxxs);
        }
        a{
            font-size: var(--fs-xxxs)
        }
    }

}
    


@media all and (orientation:landscape) and ( min-width: 1024px) {
    .flx {
      flex-wrap: nowrap;
    }
    .flx-reverse {
        flex-wrap: nowrap;
    }
  }

  @media all and (min-width:1080px){
    .secondary_heading{
        font-size: var(--fs-lg)
    }
    .sub_heading{
        font-size:var(--fs-xxs)
    }
    article{
        p,a{
            font-size: var(--fs-xxxs);
        }
        
    }

  }

  @media all and (min-width:1280px){
    .sub_heading{ font-size: 1.6rem;}
}

@media all and (min-width: 1800px){
    .secondary_heading{
        font-size: var(--fs-xl)
    }
}


