* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: transparent;  
    
}

html{
    font-size: 62.5%;
    height: -webkit-fill-available; 
    scroll-snap-type: y proximity;
    scroll-padding-top: 5%;
}

:root{
    --fs-Desktop: clamp(12rem,8vw,30rem);
    --fs-NoteBook: 10.5rem;
    --fs-xxl:clamp(5.5rem, 16.5vw , 9rem );
    --fs-xl:clamp(4rem, 22vw, 15rem);   
    --fs-md:5rem;
    --fs-sm:4rem;
    --fs-xs:2rem;
    --fs-xxs:1.4rem;
}

section {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}
button {
    background-color: transparent;
    border-radius: 2.5rem;   
    border: 1px solid black;
    font-size: var(--fs-xs);
 
}



::-webkit-scrollbar{
    display: none;
    
} 

body::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.03;  
    z-index: 1;
    pointer-events: none;
    background: url(./images/noise.gif) ;
    background-color: #D7D7D7;
    flex-grow: 1;
  }


ul li a { display: inline-block}

@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&display&family=Major+Mono+Display&family=Roboto:wght@300&family=Sometype+Mono&display=swap');

H1, H2 , H3 , H4 , H5{
font-family: 'Sometype Mono', sans-serif;
display: inline-block;
line-height: 1;
filter: blur(0.06rem);
}


.bold{
    font-weight: bold;
}

.hidden{
    display: none !important;
}

.absolute{
    position: absolute;
}


p,a{
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color: black;
filter: blur(0.05rem);
}


/* main document*/

main {
    /* height: 100vh; */
    padding: 2.5%;
    
}

/* navigation+*/

.nav_wrapper{  
    position:absolute; 
    background-color:transparent; /* goes black*/
    top:0%;
    left: 0%;
    width: 100%; 
    height: 25%;
    padding: 3%;
    z-index: 1;
}




.linkList{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;  /* when open*/
    
}


.logo{
    width: 10rem;
    aspect-ratio: 1/1;
    pointer-events: none;
}

.logoBtn{
    margin-bottom: 40%;
}


.navLnk{
    display: none; 
    font-size: var(--fs-xs);
    color: white;
    padding-left: 8%;
    padding-top: 10%; 
    opacity: 0;
    transform: translateX(500px);       
}
.navLnk::after{
    content:"";
    position: absolute;
    bottom:0%;
    left: 8%;
    background-color: rgb(134, 134, 134);
    width: 85%;
    height: 2px;

}

.navBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    background-color: black;
}
.extraLinks{
    position:absolute;
    bottom: 5%;
    left:10%;
    width: 80%;
    transform: translateY(-100px);
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .menuCopy{
        color:white;
        font-size: var(--fs-sm) ;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0.8;
    }
}
.navMenuLinks {  
    display: flex;
    flex-direction: column;
    
    a {
        font-size: var(--fs-xxs) ; 
        color:white;
    }
    
}

.ctaPage{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 0vh;
    background-color:#979797 ;
}
.letsTalk > h2{
    padding: 50% 10% 10% 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 0.8;
    font-size: var(--fs-md);
    color: white;
    text-wrap: balance;
}
.ctaMessage > a{
    color: #000000;
     
}


.btn-cta{
    width: 80%;
    height: 4.5rem;
    margin-left:10%;
    border: 1px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0); 
    cursor: pointer;   
}
      

.scrollWrapper {
    
    #about, #education, #experience, #projects, #contact{
        margin-top: 3%;
        height: 100vh;
    }
   
    
    }

/*section_ home*/

 #home{
    display: flex;
    flex-direction: column-reverse;
}
.hero_wrapper{
    padding-top: 3%;
}
.hero_HL{
    font-size: var(--fs-xxl);
    
}
.hero_P{
    font-size: var(--fs-xxs);
}

.flexWrapper{
    margin-top: 7%;
}
.childflexWrapper{  
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}

.cta_btn{    
    width: 99%;
    height: 4.5rem;
    margin-bottom: 15%;
    cursor: pointer;
}
.copy{  
    font-size: var(--fs-sm); 
    line-height: 0.9; 
    
}


/*canvas*/
#cvs_wrapper{
    width: 100%;   
    aspect-ratio: 1/1 !important;
    object-fit: cover; 
}


.icon_wrapper{
    width: 8.5rem;
    height: 4rem;
    overflow: hidden;
    }
    
.icon{
    width: 4rem ;
    display: inline-block;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: transparent;
       
}

.in{
    
    background-image: url(./images/Capa\ 2.svg);
    background-repeat: no-repeat;
}
.gh{
    
    background-image: url(./images/Capa\ -1.svg);
    background-repeat: no-repeat;
}

/*SECTION ABOUT */
#about{
    background-color: black;
}
/*SECTION  EDUCATION*/
#education{
    background-color: blue;
}
/*SECTION  EXPERIENCE*/
#experience{
    background-color: red;
}
/*SECTION  PROJECTS*/
#projects{
    background-color: green;
}
/*SECTION  CONTACT*/
#contact{
    background-color: yellow;
}




/***************************mediaquerys*************************************************/

@media all and (min-width: 600px){
    .cta_btn{
        width: 33%;
    }
    .btn-cta{
        width: 30%;
        
    }

    .flexWrapper{
        margin-top: 3.5%;
        display: flex;
        justify-content: space-between;
     }

     .copy{
        margin-top: 0;
         font-size: var(--fs-md);
     }

}

@media all and (min-width: 1190px){
    #home{
        display: flex;
        flex-direction: row;
    }
    #cvs_wrapper{
        width: 50%; 
        
        
    }
    .hero_wrapper{
        padding: 0% 2% 0% 0%;
        width:50%
    }
    .nav_wrapper{
        position:fixed;
        top:3%;
        right: 5%;
        width: 94%;
        padding: 2%;
    }
    .navLnk{
        display: inline-block;
        color: black;
        font-size: var(--fs-xxs);
        padding-left: 0%;
        opacity:1;
        transform: translateX(0px);
    }
    .navLnk::after{
        
        width: 0%;
        
    
    }

    .linkList{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    .letsTalk > h2{
        padding: 15% 10%;      
        line-height: 0.8;
        font-size: var(--fs-xxl);       
    }
    

    .hero_HL{
        padding-top: 30%;
        font-size: var(--fs-NoteBook);
    }
    .cta_btn{
        width: 25%;
        margin-bottom: 0%;
    }
    .btn-cta{
        width: 20%;
        
    }
    .flexWrapper {
        padding-top: 9%;
    }
    
    .hero_P{
        font-size: var(--fs-xs);
    }

}

@media all and (width:1366px) and (height:1024px){
    main, .nav_wrapper{
        padding-top: 13% ;  
    }  
}
@media all and (min-width: 1440px){

    .hero_HL{
        padding-top: 30%;
        font-size: var(--fs-Desktop);
    }
   
    .flexWrapper {
        padding-top: 10%;
    }
    
    .hero_P{
        font-size: var(--fs-xs);
    }
    .cta_btn{
        font-size: var(--fs-xxs);
    }

    .btn-cta{
        width: 10%;
        font-size: var(--fs-xxs);
        
    }
   

}



